<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LACKP Teams</title>
    <link rel="stylesheet" href="/stylesheets/app.css">
  </head>

  <body>
    <h1>League Positions</h1>

    <ul>
        <%  TeamData::ROLL_CALL.first[1].each_key do |key| %>
          <li><%= key %></li>
        <% end %>
    </ul>
  </body>
</html>
