<div class="small-6 small-offset-3 columns">
  <div class="callout primary">
    <h1>Weather</h1>
      <h3><%= @weather.temp %> ˚F </h3>
      <h4><%= @weather.weather %></h4>
    </p>
  </div>
</div>
