<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Individual Grocery Item</title>
  </head>
  <body>
    <h1>Grocery Item</h1>
    <p>
      <%= @grocery_item["name"] %>
    </p>
    <a href="/grocery-list">Go Back to List</a>
  </body>
</html>
