/* Your styling here */
.popupbox {
  border: 2px solid black;
  border-radius: 25px;
  margin: 2rem 10rem 20rem 10rem;
  background-color: #F22FC3;
  color: #F4D647;
}

button {
  position: absolute;
  right: 2.5rem;
  width: 300px;
  color: black;
}

.input-group-field {
  background-color: #F4D647;
}

.button {
  border: 2px solid black;
  box-shadow: 5px 5px 10px black;
}
