
<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="#">Home</a></li>
    <li><a href="#">Products</a></li>
    <li><a href="#">XYC</a></li>
    <li>
      <span class="show-for-sr">Current: </span> Features
    </li>
  </ul>
</nav>

<div class="text-center">
  <h1>Wow, what an awesome, page!</h1>
  <h3>Here are some reasons you should fill out our form:</h3>
</div>

<div class="small-12 medium-4 columns">
  <div class="callout secondary">
    <h3>Reason #1</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <div class="text-center">
      <a href="#" class="button">Learn More</a>
    </div>
  </div>
</div>

<div class="small-12 medium-4 columns">
  <div class="callout secondary">
    <h3>Reason #1</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <div class="text-center">
      <a href="#" class="button">Learn More</a>
    </div>
  </div>
</div>

<div class="small-12 medium-4 columns">
  <div class="callout secondary">
    <h3>Reason #1</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <div class="text-center">
      <a href="#" class="button">Learn More</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-3 medium-3 columns">
    <h3>Resources:</h3>
    <ul>
      <li><a href="#">a link</a></li>
      <li><a href="#">another link</a></li>
      <li><a href="#">wow links</a></li>
    </ul>
  </div>

  <div class="small-9 medium-9 columns">
    <h4>Now for the form:</h4>
    <label>Name
        <input type="text">
    </label>
    <div class="row">
      <div class="small-12 medium-6 columns">
        <label>Favorite Fruit
          <input type="text">
        </label>
      </div>

      <div class="small-12 medium-6 columns">
        <label>Least favorite cheese
          <input type="text">
        </label>
      </div>
    </div>
    <div class="text-center">
      <button type="submit" class="secondary hollow button">Submit</button>
    </div>
  </div>
</div>
