<h1>Meetups</h1>

<ul>
  <% @meetups.each do |meetup| %>
    <li>
      <a href="/meetups/show/<%= meetup.name %>"><%= meetup.name %></a>
    </li>
  <% end %>
</ul>

<a href="/meetups/new">Create a new meetup</a>
