<h1>Create a New Meetup</h1>

<form method="post">
  <input type="text" name="name" placeholder="Name" style="font-color: black" required="required"/>
  <input type="text" name="location" placeholder="Location" required="required"/>
  <input type="text" name="description" placeholder="Description" required="required"/>
  <input type="submit" name="submit" />
</form>

<a href="/meetups">Go Back</a>
