<html>
  <head>
    <title>Articles</title>
  </head>

  <body>
    <h2>Articles</h2>
    <h3>User Submitted</h3>

    <ul>
      <% @articles.each do |article| %>
      <li><a href="<%= article[1] %>" target="_blank"><%= article[0] %></a>: <%= article[2] %></li>
      <% end %>
    </ul>

    <a href="/articles/new">Submit a new article!</a>

  </body>
</html>
